
* {
	/* General */
	-green1: #107c10;
	-red1: #e81123;
	
	-color-text: #bbbbbb;
	-color-divider: derive(-color-text, -50%);
	-color-background: #0f0f0f;
	-color-focus: -green1;
	-color-highlight: -green1;
	
	-shape-check-mark: "M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z";
	-shape-minimize: "M 0 0 L 1 0 L 1 1 L 0 1";
	-shape-close: "M 1 0 L 9 8 L 17 0 L 18 1 L 10 9 L 18 17 L 17 18 L 9 10 L 1 18 L 0 17 L 8 9 L 0 1";
	
	/* Stage */
	-color-stage-border: #3f3f3f;
	
	/* Button */
	-color-button-bg: #272727;
	-color-button-bg-hover: derive(-color-button-bg, 20%);
	-color-button-border: #3f3f3f;
	-color-button-border-hover: derive(-color-button-border, 20%);
	
	/* Text Field */
	-color-text-field-bg: #121212;
	-color-text-field-border: -color-button-border;
	
	/* Check Box */
	-color-check-box-bg: -color-button-bg;
	-color-check-box-bg-hover: derive(-color-check-box-bg, 20%);
	-color-check-box-bg-selected: -color-highlight;
	-color-check-box-border: -color-button-border;
	-color-check-box-border-hover: derive(-color-check-box-border, 20%);
	
	/* Choice Box */
	-color-choice-box-bg: -color-button-bg;
	-color-choice-box-bg-hover: -color-button-bg-hover;
	-color-choice-box-border: -color-button-border;
	-color-choice-box-border-hover: -color-button-border-hover;
	-color-choice-box-menu-bg: #282828;
	-color-choice-box-menu-bg-focused: -color-button-bg-hover;
	-color-choice-box-menu-border: -color-choice-box-border;
	
	/* List View */
	-color-list-view-bg: -color-text-field-bg;
	-color-list-view-border: -color-text-field-border;
	-color-list-cell: -color-list-view-bg;
	-color-list-cell-hover: -color-button-bg-hover;
	-color-list-cell-selected: -color-highlight;
	
	/* Scroll Bar */
	-color-scroll-bar-bg: -color-list-view-bg;
	-color-scroll-bar-border: -color-button-border;
	-color-scroll-bar-thumb: #5f5f5f;
	
	/* Window Bar */
	-color-window-bar-bg: #000000;
	-color-window-bar-border: #252525;
	-color-window-bar-text: -color-text;
	-color-window-bar-button: -color-window-bar-bg;
	-color-window-bar-button-hover: derive(-color-window-bar-button, 20%);
	-color-window-bar-button-close: -red1;
}

/************************************************\
 *                                              *
 * Built-in selectors                           *
 *                                              *
\************************************************/

/* -- Label -- */

.label {
	-fx-text-fill: -color-text;
}

/* -- Button -- */

.button {
	-fx-min-width: 70px;
	-fx-background-color: -color-button-border, -color-button-bg;
	-fx-background-insets: 0, 1;
	-fx-text-fill: -color-text;
}

.button:hover {
	-fx-background-color: -color-button-border-hover, -color-button-bg-hover;
}

.button:focused {
	-fx-background-color: -color-focus, -color-button-bg;
}

.button:focused:hover {
	-fx-background-color: -color-focus, -color-button-bg-hover;
}

/* -- Text Field -- */

.text-field {
	-fx-pref-width: 70px;
	-fx-min-width: 50px;
	-fx-background-color: -color-text-field-border, -color-text-field-bg;
	-fx-text-fill: -color-text;
}

.text-field:focused {
	-fx-background-color: -color-focus, -color-text-field-bg;
}

/* -- Check Box -- */

.check-box .box {
	-fx-background-color: -color-check-box-border, -color-check-box-bg;
	-fx-background-insets: 0, 1;
}

.check-box .mark {
	-fx-shape: -shape-check-mark;
}

.check-box:hover .box {
	-fx-background-color: -color-check-box-border-hover, -color-check-box-bg-hover;
}

.check-box:hover .mark {
	-fx-background-color: -color-check-box-bg;
}

.check-box:focused .box {
	-fx-background-color: -color-focus, -color-check-box-bg;
}

.check-box:focused:hover .box {
	-fx-background-color: -color-focus, -color-check-box-bg-hover;
}

.check-box:selected .box {
	-fx-background-color: -color-check-box-bg-selected;
}

.check-box:selected .mark {
	-fx-background-color: -color-text;
}

.check-box:selected:hover .box {
	-fx-background-color: derive(-color-check-box-bg-selected, 20%);
}

.check-box:selected:focused .box {
	-fx-background-color: derive(-color-focus, 20%), -color-check-box-bg-selected;
}

.check-box:selected:focused:hover .box {
	-fx-background-color: derive(derive(-color-focus, 20%), 20%), derive(-color-check-box-bg-selected, 20%);
}

/* -- Choice Box -- */

.choice-box {
	-fx-min-width: 70px;
	-fx-background-color: -color-choice-box-border, -color-choice-box-bg;
	-fx-background-insets: 0, 1;
	-fx-mark-color: -color-text;
}

.choice-box:hover {
	-fx-background-color: -color-choice-box-border-hover, -color-choice-box-bg-hover;
}

.choice-box:focused {
	-fx-background-color: -color-focus, -color-choice-box-bg;
}

.choice-box:focused:hover {
	-fx-background-color: -color-focus, -color-choice-box-bg-hover;
}

.choice-box .context-menu {
	-fx-background-color: -color-choice-box-menu-border, -color-choice-box-menu-bg;
	-fx-background-insets: 0, 1;
}

.choice-box .menu-item:focused {
	-fx-background-color: -color-choice-box-menu-bg-focused;
}

.radio-menu-item:checked > .left-container > .radio {
	-fx-shape: -shape-check-mark;
	-fx-scale-x: 0.6;
	-fx-scale-y: 0.75;
}

/* -- List View -- */

.list-view {
	-fx-background-color: -color-list-view-border, -color-list-view-bg;
	-fx-background-insets: 0, 1;
	-fx-background-radius: 0em;
}

.list-view:focused {
	-fx-background-color: -color-focus, -color-list-view-bg;
}

.list-cell {
	-fx-background-color: -color-list-cell;
	-fx-text-fill: -color-text;
}

.list-cell:filled:hover {
	-fx-background-color: -color-list-cell-hover;
}

.list-cell:filled:selected:focused {
	-fx-background-color: -color-list-cell-selected;
}

.list-cell:filled:selected:focused:hover {
	-fx-background-color: derive(-color-list-cell-selected, 20%);
	-fx-text-fill: derive(-color-text, 10%);
}

/* -- List View: Scroll Bar -- */

.list-view .scroll-bar:horizontal {
	-fx-scale-y: 0;
	-fx-padding: -10;
}

.list-view .scroll-bar:vertical .track {
    -fx-background-color: -color-scroll-bar-border, -color-scroll-bar-bg;
    -fx-background-insets: 0 0 0 0, 1 1 1 0;
}

.list-view:focused .scroll-bar:vertical .track {
    -fx-background-color: -color-focus, -color-scroll-bar-bg;
}

.list-view .scroll-bar:vertical .increment-button,
.list-view .scroll-bar:vertical .decrement-button {
    -fx-background-color: -color-scroll-bar-bg;
    -fx-background-radius: 0;
    -fx-padding: 0 12 0 0;
}

.list-view .scroll-bar:vertical .increment-arrow,
.list-view .scroll-bar:vertical .decrement-arrow {
	-fx-shape: " ";
    -fx-padding: 0;
}

.list-view .scroll-bar:horizontal .thumb,
.list-view .scroll-bar:vertical .thumb {
    -fx-background-color: -color-scroll-bar-thumb;
    -fx-background-insets: 3 3 3 2;
    -fx-background-radius: 0;
}

.list-view .scroll-bar:horizontal .thumb:pressed,
.list-view .scroll-bar:vertical .thumb:pressed {
    -fx-background-color: derive(-color-scroll-bar-thumb, 20%);
}

/************************************************\
 *                                              *
 * Custom selectors                             *
 *                                              *
\************************************************/

/* -- Labels --*/

.config-header-label {
	-fx-alignment: center-left;
	-fx-text-alignment: center;
	-fx-font-weight: bold;
	-fx-font-size: 18px;
}

.section-header-label {
	-fx-alignment: center;
	-fx-font-size: 14px;
}

.config-body-label {
	-fx-alignment: center-left;
	-fx-text-alignment: center;
	-fx-min-width: 160px;
}

/* -- Background Panes --*/

.stage-container {
	-fx-background-color: -color-background;
	-fx-border-color: -color-stage-border;
	-fx-border-width: 0.5;
}

.main-pane {
	-fx-background-color: -color-background;
	-fx-padding: 5;
}

.config-left {
	-fx-padding: 0 5 0 0;
	-fx-spacing: 5;
	-fx-border-color: -color-divider;
	-fx-border-insets: 0 5 0 0;
	-fx-border-width: 0 0.5 0 0;
}

.config-center {
	/* Padding removes two weird artifacts along right edge:
	right border not showing and borderpane center/bottom unaligned by 1px */
	-fx-padding: 0 -1 0 0;
	-fx-hgap: 5;
	-fx-vgap: 1.5;
}

.bottom-controls {
	-fx-padding: 5 0 0 0;
	-fx-spacing: 5;
	-fx-border-color: -color-divider;
	-fx-border-insets: 5 0 0 0;
	-fx-border-width: 0.5 0 0 0;
}

.align-left { -fx-alignment: center-left; }
.align-center { -fx-alignment: center; }
.align-right { -fx-alignment: center-right; }

/* -- Popup -- */

.popup-overlay {
	-fx-background-color: black;
}

.popup-pane {
	-fx-background-color: -color-background;
	-fx-spacing: 5;
	-fx-padding: 5;
}

.popup-label {
	-fx-font-size: 13;
}

.error-label {
	-fx-font-size: 11;
	-fx-text-fill: red;
}

#update-label {
	-fx-text-alignment: center;
	-fx-font-size: 16;
}

/* -- Window Bar -- */

.window-bar {
	-fx-background-color: -color-window-bar-bg;
	-fx-alignment: center;
	-fx-padding: 0 0 0 7.2;
	-fx-border-color: -color-window-bar-border;
	-fx-border-width: 0 0 0.5 0;
}

.window-bar .label {
	-fx-text-fill: -color-window-bar-text;
}

.window-bar .image-wrapper {
	-fx-alignment: center;
	-fx-padding: 0 5 0 0;
}

.window-bar .button {
	-height: 28.8;
	-width: 32.8;
	-fx-min-height: -height;
	-fx-max-height: -height;
	-fx-min-width: -width;
	-fx-max-width: -width;
	-fx-background-color: -color-window-bar-button;
	-fx-background-radius: 0;
}

.window-bar .window-min-button:hover {
	-fx-background-color: -color-window-bar-button-hover;
}

.window-bar .window-min-button .icon {
    -fx-background-color: -color-window-bar-text;
    -size: 9.6;
    -fx-min-height: 0.8;
    -fx-max-height: 0.8;
    -fx-min-width: -size;
    -fx-max-width: -size;
	-fx-shape: -shape-minimize;
}

.window-bar .window-close-button:hover {
	-fx-background-color: -color-window-bar-button-close;
}

.window-bar .window-close-button .icon {
    -fx-background-color: -color-window-bar-text;
    -size: 9.6;
    -fx-min-height: -size;
    -fx-max-height: -size;
    -fx-min-width: -size;
    -fx-max-width: -size;
	-fx-shape: -shape-close;
}

.window-bar .window-close-button:hover .icon {
    -fx-background-color: #ffffff;
}